@import url("../../ressources/base.css");

.unjoined_chan
{
	width: calc(var(--open-sidebar-size) * 0.98);
	text-align: left;
	font-size: 4vmin;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: calc(var(--channel_margin) + var(--channel_padding));
}

.chan_name
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 70%;
}

.unjoined_chan_input
{
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.unjoined_chan_input input[type="password"]
{
	width: 15vmin;
	background-color: #636772;
	color: white;
	border-style: none;
	font-size: 0.4em;
	padding: 0.2vmin 0.8vmin;
	border-radius: 10px;
	margin-right: 2vmin;
}

.join_chan
{
	display: none;
}

.join_chan + label
{
	text-align: right;
	text-transform: uppercase;
	font-size: 0.55em;
	background-color: limegreen;
	opacity: 85%;
	/* margin-right: 4px; */
	padding: 4px;
	border-radius: 10px;
}

.join_chan + label:hover
{
	opacity: 70%;
}
