@import url("../../ressources/base.css");

header
{
	margin: 0;
	margin-bottom: 10vmin;
}

#homepage
{
	text-align: center;
	color: #ffffff;
}

body
{
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: flex-end; */
	background-color: #282c34;
}

#buttons
{
	display: inline-flex;
	flex-direction: column;
}

#buttons > li
{
	list-style: none;
	display: block;
	width: 100%;
}

footer
{
	position: fixed;
	bottom: 2vmin;
	left: 2vmin;
}