@import url("../../ressources/base.css");

#joined_chans_list
{
	scroll-behavior: auto;
	overflow-x: hidden;
	overflow-y: auto;
	height: calc(100vh - var(--tab_button_height) - var(--tab_button_height));
}
