
.Bar
{
	opacity: 0.2;
	border-radius: 25px;
	text-align: center;
	height: 45px;
	padding: 2px;
	box-sizing: content-box;
	border: solid #c2cd5b 10px;
}

#win-bar
{
	background-color: green;
}

#lose-bar
{
	background-color: red;
}

#equal-bar
{
	background-color: yellow;
}