@import url("../../ressources/base.css");

.joined_chan
{
	width: var(--open-sidebar-size);
	font-size: 4vmin;
	box-sizing: border-box;
}

.connect_chan
{
	display: none;
	box-sizing: border-box;
}

.connect_chan + label
{
	text-align: left;
	box-sizing: border-box;
	margin: var(--channel_margin);
	padding: var(--channel_padding);
	border-radius: 15px;
	width: calc(0.98 * (var(--open-sidebar-size) - var(--channel_margin) - var(--channel_padding)));
	display: block;
	justify-content: space-between;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.connect_chan + label:hover, .selected_chan
{
	background-color: rgba(255, 255, 255, 0.1);
}
/*
.leave_chan
{
	display: none;
}

.leave_chan + label
{
	text-align: right;
	font-size: 0.65em;
	background-color: firebrick;
	opacity: 85%;
	margin-right: 4px;
	padding: 4px;
	border-radius: 10px;
}

.leave_chan + label:hover
{
	opacity: 1;
} */
