.user_bar_button img
{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.user_bar_button
{
	height: max-content;
	margin: 0.3vmin;
	width: 17%;
	border: none;
	padding: 4px;
	border-radius: 10px;
	font-size: 0;
}

.user_bar_button:hover
{
	font-size: 0.3em;
}

.positive_user_button
{
	background-color: rgb(90, 204, 45);
}

.negative_user_button
{
	background-color: rgb(235, 41, 41);
}

.flipped
{
	transform: rotate(180deg);
}

.close_notification_button
{
	margin: 0 0.3em;
	opacity: 50%;
	height: 30%;
	width: max-content;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close_notification_button img
{
	max-width: auto;
	max-height: 100%;
	vertical-align: middle;
}