@import url("../../ressources/base.css");

.footer_button
{
	margin: 0;
	width: max-content;
	color: white;
	background-color: #537896;/* #077ca3 */
	padding: 1.8vmin 2vmin;
	border-style: none;
	border-radius: 10px;
	font-size: 2vmin;
	text-transform: uppercase;
	box-shadow: 5px 10px #242424;
	transition: 0.2s cubic-bezier(.23,1,.32,1);
}

button:hover
{
	transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
}