#chat
{
	height: 100%;
	--message_footer_height: 6.5vmin;
	box-sizing: border-box;
	--channel_margin: 8px;
	--channel_padding: 5px;
}

#chat > header
{
	display: flex;
	justify-content: space-around;
}

.chat_tab_button
{
	display: none;
}

.chat_tab_button + label
{
	width: 100%;
	height: var(--tab_button_height);
	opacity: 50%;
	background-color: cornflowerblue;

	display: flex;
    align-items: center;
	justify-content: center;
	font-size: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
}

#chat_settings + label
{
	width: 15%;
	font-size: 0.3em;
}

.chat_tab_button:checked + label
{
	opacity: 1;
}
