@import url("../../ressources/base.css");

.main_menu_button
{
	margin: 0;
	width: 40vmin;
	color: white;
	background-color: #537896;/* #077ca3 */
	padding: 2vmin 3.5vmin;
	border-style: none;
	border-radius: 10px;
	font-size: 4vmin;
	text-transform: uppercase;
	box-shadow: 5px 10px #242424;
	transition: 0.2s cubic-bezier(.23,1,.32,1);
	margin-bottom: 5vmin;
}

.main_menu_button:hover
{
	transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
}