@import url("../../ressources/base.css");

#profile
{
	display: none;
}

@media only screen and (min-width: 600px)
{
	#img-upload > label input
	{
		opacity: 0;
		width: 0;
		height: 0;
	}

	#infos > p > input[type="text"]
	{
		padding: 0;
		background-color: #21242b;
		/*color: whitesmoke;*/
		font-size: 2.3vmin;
		position: relative;
		border-radius: 14px;
		border-style: none;
		width: 90%;
		outline: none;
	}

	
	#profile
	{
		width: max-content;
		left: 0px;
		top: 0px;
		margin: 8px;
		padding: 20px;
		position: absolute;
		display: flex;
		flex-direction: row;
		background-color: #21242b;
		box-sizing: border-box;
		border-radius: 20px;
	}
	
	#infos
	{
		margin: 0;
		margin-left: 3vmin;
		margin-right: 6vmin;
		display: flex;
		flex-direction: column;
		text-align: left;
		font-size: 2.5vmin;
	}

	img
	{
		border-color: whitesmoke;
		border-style: solid;
		border-width: 4px;
		width: 11vmin;
		height: 11vmin;
	}

	#switch
	{
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	#switch #slider
	{
		position: absolute;
		cursor: pointer;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgb(228, 32, 32);
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 34px;
	}

	#switch #slider:before
	{
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		top: 4px;
		bottom: 4x;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 50%;
	}

	#switch input
	{
		opacity: 0;
		width: 0;
		height: 0;
	}

	#switch input:checked + #slider
	{
		background-color: #2196F3;
	}

	#switch input:focus + #slider {
		box-shadow: 0 0 1px #2196F3;
	}

	#switch input:checked + #slider::before
	{
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	
}
