@import url("../../ressources/base.css");

#sidebar
{
	--tab_button_height: 5vmin;
	--open-sidebar-size: 60vmin;
	--closed-sidebar-size: -60vmin;
	--transition: 0.7s;
	height: 100%;
}

#actual_bar
{
	background-color: #454a53a9;
	backdrop-filter: blur(20px);
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: var(--open-sidebar-size);
	transition: var(--transition);
	font-size: 4vmin;
}

#actual_bar > header
{
	display: flex;
	font-size: 4vmin;
	justify-content: space-around;
}

.tab_button
{
	display: none;
}

.tab_button + label
{
	width: 100%;
	height: var(--tab_button_height);
	opacity: 50%;
	background-color:lightskyblue;
	display: flex;
    align-items: center;
	justify-content: center;
	font-size: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
}

.tab_button:checked + label
{
	opacity: 1;
}

#toggle
{
	display: none;
	/* transition: var(--transition);
	position: fixed;
	right: var(--open-sidebar-size);
	bottom: 50%; */
}

#toggle + label
{
	padding: 0.18em;
	margin: 7px;
	background-color: cadetblue;
	border-width: 5px 5px 0 0;
	border-style: solid;
	border-color: whitesmoke;
	border-radius: 3px;
	transition: var(--transition);
	position: fixed;
	right: calc(var(--open-sidebar-size));
	transform: rotate(45deg);
	top: 50%;
}

#toggle:checked
{
	right: var(--closed-sidebar-size);
}

#toggle:checked + label
{
	right: 0px;
	transform: rotate(225deg);
}

#toggle:checked + label + #actual_bar
{
	right: var(--closed-sidebar-size);
}
