.first_login
{
	font-size: 0.8em;
	text-align: center;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: white;
}

.first_login_username
{
	width: 70%;
	font-size: 0.55em;
	color: white;
	border: none;
	background-color: #52565f;
	margin: 2em;
	padding: 0.5vmin;
	border-radius: 5px;
}
