.chat_user
{
	height: 5vmin;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0.8vmin 0 1.2vmin;
}

.chat_user_button_div
{
	display: flex;
	justify-content: right;
	align-items: center;
	width: 40%;
	height: 90%;
}

.chat_user_username
{
	font-size: 0.8em;
	width: 50%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	justify-content: left;
	align-items: center;
}