#notify
{
	width: max-content;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	list-style-type: none;
}

.notification
{
	font-size: 0.8em;
	border-radius: 8px;
	margin-bottom: 0.5vmin;
	padding: 0.5vmin 2vmin;
}

.error
{
	background-color: rgb(207, 5, 5);
}
.info
{
	background-color: rgb(64, 179, 11);
}