#notify
{
	z-index: 15;
	width: max-content;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	list-style-type: none;
}

.notification
{
	font-size: 0.8em;
	border-radius: 8px;
	margin-bottom: 0.5vmin;
	padding: 0.5vmin 2vmin;
	display: flex;
	align-items: center;
}

.error
{
	background-color: rgb(207, 5, 5);
}
.info
{
	background-color: rgb(64, 179, 11);
}

.delete_notif
{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 0.4em;
	margin-left: 1em;
}