#profile
{
	display: none;
}

@media only screen and (min-width: 600px)
{
	#profile
	{
		width: max-content;
		left: 0px;
		top: 0px;
		margin: 8px;
		padding: 20px;
		position: absolute;
		display: flex;
		flex-direction: row;
		background-color: #21242b;
		box-sizing: border-box;
		border-radius: 20px;
	}

	#infos
	{
		margin: 0;
		margin-left: 3vmin;
		margin-right: 3vmin;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		font-size: 3vmin;
	}

	#profile_summary_img
	{
		border-color: whitesmoke;
		border-style: solid;
		border-width: 4px;
		width: 11vmin;
		height: 11vmin;
	}
}
