@import url("../../ressources/base.css");

#profile
{
	display: none;
}

@media only screen and (min-width: 600px)
{
	#profile
	{
		width: 10vmin;
		left: 0px;
		top: 0px;
		margin: 0;
		padding: 10px;
		position: absolute;
		display: flex;
		flex-direction: row;
	}
	
	#infos
	{
		width: 15vmin;
		display: flex;
		flex-direction: column;
		/* justify-content: left; */
		text-align: left;
		margin-left: 10px;
	}

	img
	{
		width: 15vmin;
		height: 15vmin;
	}
}
